/* 
  “justify”는 메인축(오뎅꼬치) 방향으로 정렬
  “align”은 수직축(오뎅을 뜯어내는) 방향으로 정렬
*/

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: url("sand-clock.jpg");
    background-size: cover;

}

.container, footer {
    background-color: white;
    opacity: 90%;
    width: auto;
}

/* container */
div.container {
    display: flex;
    flex-flow: column wrap;
    /* 'flex-flow'로 아래 두 속성을 한꺼번에 지정할 수 있다.
    flex-direction: column;
    flex-wrap: wrap; 
    */
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    padding: 5rem;
}

h1 {
    font-size: 70px;
    font-style: italic;
    font-family: sans-serif;
    /* 
    font-family는 어떤 폰트를 사용할 것인지 
    font-style은 폰트모양이 normal, italic, oblique중 어떤 것인지
    */
    margin: 15px;
}

i {
    margin: 20px;
}

.info {
    margin: 30px;
    padding: 15px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.input_button {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    padding: 16px 16px 16px 16px;
    height: 50px;
    font-size: 30px;
    font-style: italic;
    color: lightgray;
    text-align: center;
    box-shadow: inset 0 -2px 5px;
    margin: 2rem;
}

button {
    color: white;
    background-color: black;
    border-radius: 10%;
    width: 80px;
    height: 80px;
    margin: 2rem;
    cursor: pointer;
}

/* #button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    width: 50px;
} */

/* footer */
footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    height: 5rem;
    width: 15rem;
    border-radius: 3rem;
}
.origin {
    color: lightgray
}